@import 'tailwindcss';

@layer base {
  a {
    @apply transition-all;
  }
  /* a:hover,
  a:focus {
    @apply opacity-0;
  } */
}

@theme {
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-lightest: var(--primary-lightest);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}
