@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  a {
    @apply transition-all;
  }

  .prose a {
    @apply text-primary;
  }
  .prose a:hover,
  .prose a:focus {
    @apply text-primary-dark dark:text-primary-light underline;
  }
  /* a:hover,
  a:focus {
    @apply opacity-0;
  } */
}

@theme {
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-headline: var(--font-headline), sans;
}
